<?xml version="1.0"?>
<config>
    <modules>
        <ConversionBug_Core>
            <version>0.1.0</version>
        </ConversionBug_Core>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <cbcore>
                    <file>conversionbugcore.xml</file>
                </cbcore>
            </updates>
        </layout>
        <!--<events>-->
            <!--<controller_action_predispatch>-->
                <!--<observers>-->
                    <!--<cbnotifications>-->
                        <!--<type>singleton</type>-->
                        <!--<class>cbcore/feed</class>-->
                        <!--<method>checkUpdate</method>-->
                    <!--</cbnotifications>-->
                <!--</observers>-->
            <!--</controller_action_predispatch>-->
        <!--</events>-->
    </adminhtml>
    <global>
        <helpers>
            <cbcore>
                <class>ConversionBug_Core_Helper</class>
            </cbcore>
        </helpers>
        <blocks>
            <cbcore>
                <class>ConversionBug_Core_Block</class>
            </cbcore>
        </blocks>
        <models>
            <cbcore>
                <class>ConversionBug_Core_Model</class>
            </cbcore>
        </models>
    </global>
</config>